[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = {version = "*",extras = ['redis']}
pydantic = "*"
psutil = "*"
requests = "*"
redis = "*"
flask = "*"
flask-cors = "*"
gunicorn = {version = "*", extras = ['gevent']}

[dev-packages]
pylint = "*"
pylint-django = "*"
pytest = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = false
